html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;            
    justify-content: center; 
    text-align: center;
    padding-top: 2rem;     
}

